@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; 
}

* {
  box-sizing: border-box;
}

body {
  color: #000;  
  font-family: var(--font-raleway);
  font-size: 16px;  
}

.wmde-markdown {
  font-family: var(--font-raleway) !important;
  color: black !important;
  background-color: white !important;

  p {
    font-family: var(--font-raleway) !important;
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--font-montserrat) !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  ul {
    list-style: disc !important;
  }
}